<ion-header>
  <ion-toolbar text-center>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
          Add new Item
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <form [formGroup]='newItem'>
    <ion-label class="titles">Name: </ion-label>
    <ion-input type="text" placeholder="Item name" formControlName='name'></ion-input>
    
    <ion-label class="titles">Description: </ion-label>
    <ion-textarea placeholder="iItem description" formControlName='description'></ion-textarea>
    
    
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="addItem()">Add Item</ion-button>
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>