.buttons{
    color: blue;
}
.titles{
    background-color: cornflowerblue;
}
.background{
    color: rgb(196, 196, 196);
}
.button2{
    width: 20%;
    height: 10%;
    margin-top: 26%;
    margin-left: 22%;
}