<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" placeholder="Hola"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Description: </ion-label>
          <ion-textarea placeholder="Enter more information here..."></ion-textarea>
        </ion-item>

      <ion-button>A</ion-button>
      <ion-button>B</ion-button>
</ion-content>
