
  <ion-content >

    <ion-list>
      <ion-list-header>
        BBBBB
        <ion-icon ion-item (click)="presentAlert()" name="add-circle-outline"></ion-icon>
      </ion-list-header>
      <ion-list-header>
          CCCCCC
          <ion-icon ion-item (click)="presentAlert()" name="add-circle-outline"></ion-icon>
        </ion-list-header>
        <ion-list-header>
            EEEEEE
            <ion-icon ion-item (click)="presentAlert()" name="add-circle-outline"></ion-icon>
          </ion-list-header>
    </ion-list>

    <ion-fab-button color="warning" (click)="presentConfirm()">Button</ion-fab-button>

    <!--<ion-button color="danger">
      Holaaaaa
    </ion-button>-->

    <!--<table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <ion-item *ngFor="let item of items">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name }}</td>
            <td>{{item.description}}</td>
            <td>{{item.date}}</td>
          </tr>
        </ion-item>
      </tbody>
    </table>-->
</ion-content>